<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section class="detail">
            <div class="header-datail">
                <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/uploads/<%= producto.imagen %>');">
                    <h2><%= producto.nombre_profesor %></h2>
                    <p><%= producto.ubicacion %></p>
                </div>
                <div class="descripcion">
                    <h3>Descripcion:</h3>
                    <p><%= producto.descripcion %></p>
                </div>
            </div>
            <div class="body-detail">
                <div class="descripcion">
                    <h4>Deporte:</h4>
                    <p><%= producto.especialidades.nombre %></p>
                </div>
                <div class="descripcion">
                    <h4>Precio:</h4>
                    <p>$ <%= producto.precio %>/clase</p>
                </div>
            </div>
            <div class="footer-detail">
                <a href="/products/cart">Tomar clase</a>
                <% if ( usuario) { %>
                <% if ( usuario.id == producto.idProfesor) { %>
                <a href="/products/edit/<%= producto.id %>">Editar</a>
                <% } else {%>
                    <%}%>
                    <%}%>
            </div>
          
        </section>
    </main>
<%- include("../partials/footer.ejs") %>