<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section class="inicio-product">
            <div class="search-bar-product">
                <form action="/products" method="post">
                    <input type="search" name="search" id="search" placeholder="Buscar:">
                    <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                </form>
                <h4>Profesores:</h4>
            </div>
            <% if (locals.errors) { %>
                <div class="errors"> <p><%=errors.msg %></p>
                </div>
            <% } %>
        </section>
        <section class="product">
           <% products.forEach ((producto) => { %> 
            <a href="/products/detail/<%= producto.id %>" >
                <article>
                    <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/uploads/<%= producto.imagen %>');">
                        <h2><%= producto.nombre_profesor %></h2>
                        <p><%= producto.especialidades.nombre %></p>
                    </div>
                    <p><%= producto.nombre %></p>
                    <p><%= producto.ubicacion %></p>
                    <p><%= producto.precio %>/clase</p>
                </article>
            <% }) %> 
            </a>
        </section>
    </main>
<%- include("../partials/footer.ejs") %>