<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
<main>
    <section class="containerForm">
        <h1>Nueva clase</h1>
        <form action="/products/create" method="POST">
            <label for="nombre_profesor">Nombre Profesor</label>
            <input type="text" name="nombre_profesor">

            <label for="ubicacion">Ubicacion</label>
            <input type="text" name="ubicacion" placeholder="Ubicacion" >

            <label for="precio">Precio</label>
            <input type="number" name="precio" placeholder="$$$" >

            <label for="descripcion">Descripcion de clase</label>
            <input type="text" name="descripcion" placeholder="Describe tu clase" >

            <label for="especialidad">Actividad</label>
            <div class="intensidad">
               <select name="especialidad">
                <% for( let i =0;i <especialidades.length;i++ ) { %>
                     
                <option value="<%= especialidades[i].id%>">
                    <%=especialidades[i].nombre %>
                </option>
                <% } %>
               </select>
            
            </div>  
            
            <button type="submit">Cargar</button>
        </form>   
    </section>
</main>
<%- include("../partials/footer.ejs") %>