<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section class="detail">
            <div class="header-datail">
                <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/uploads/<%= producto.imagen %>');">
                    <h2><%= producto.nombre %></h2>
                    <p><%= producto.ubicacion %></p>
                </div>
                <div class="descripcion">
                    <h3>Descripcion del profe</h3>
                    <p><%= producto.descripcionProfe %></p>
                </div>
            </div>
            <div class="body-detail">
                <div class="grid">
                    <h4>Deporte</h4>
                    <p><%= producto.deporte %></p>
                </div>
                <div class="grid">
                    <h4>Nivel</h4>
                    <p><%= producto.dificultad %></p>
                </div>
                <div class="grid">
                    <h4>Precio</h4>
                    <p>$ <%= producto.precio %>/clase</p>
                </div>
                <div class="descripcion-clase">
                    <h3>Descripcion de la clase</h3>
                    <p><%= producto.descripcionClase %></p>
                </div>
            </div>
            <div class="footer-detail">
                <a href="/products/cart">Tomar clase</a>
                <a href="/products/edit/<%= producto.id %>">Editar</a>
                
            </div>
          
        </section>
    </main>
<%- include("../partials/footer.ejs") %>