<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
<main>
    <section class="containerForm">
        <h1>Editar clase</h1>
        <form action="/products/edit/<%= producto.id %>/?_method=PUT" method="POST">
            <label for="actividad">Actividad</label>
            <input type="text" name="actividad" value=<%= producto.deporte %>>

            <label for="precio">Precio</label>
            <input type="number" name="precio" placeholder="$$$" value= <%= producto.precio %> >

            <label for="horas">Cantida de hs</label>
            <input type="number" name="horas" placeholder="¿Cuantas Horas requiere tu clase?" >

            <label for="descripcionClase">Descripcion de clase</label>
            <input type="text" name="descripcionClase" placeholder="Describe tu clase" value=<%= producto.descripcionClase %> >

            <label for="clase">Intensidad</label>
            <div class="intensidad">
                <input type="radio" id="1" name="intensidad" value="principiante" required>
                <label for="1">Principiante</label>
            </div>
            <div class="intensidad">
                <input type="radio" id="2" name="intensidad" value="amateur">
                <label for="2">Medio</label>
            </div>
            <div class="intensidad">
                <input type="radio" id="3" name="intensidad" value="profesional">
                <label for="3">Profesional</label>
            </div>
            <button class="boton" type="submit">Cargar</button>
        </form>
        <form action="/products/delete/<%= producto.id %>/?_method=DELETE" method="POST">
            <p>¿Queres borrar esta clase ?</p>
            <button class="delete" type="submit">Borrar</button>
        </form>
    </section>
</main>
<%- include("../partials/footer.ejs") %>