<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
<main>
    <section class="inicio-product">
        <div class="search-bar-product">
            <h2>Editar clase</h2>
        </div>
    </section>
    <section class="product">
        <form action="/products/:id/edit/?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="editProducto">
                <h3>Datos del profe</h3>
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" name="nombre" value=<%= producto.nombre %> >

                <label for="ubicacion">Ubicacion</label>
                <input type="text" name="ubicacion" value=<%= producto.ubicacion %>>

                <label for="descripcionProfe">Descripcion</label>
                <input type="text" name="descripcionProfe" value=<%= producto.descripcionProfe %>>

                <label for="img">Foto</label>
                <input type="file" name="imagenProducto" id="imagenProducto" accept=".jpg, .jpeg, .png">
                
                <h3>Datos de la clase</h3>
                <label for="actividad">Actividad</label>
                <input type="text" name="actividad" value=<%= producto.deporte %>>

                <label for="precio">Precio</label>
                <input type="number" name="precio" placeholder="$$$" value=<%= producto.precio %> >

                <label for="horas">Cantida de hs</label>
                <input type="number" name="horas" placeholder="¿Cuantas Horas requiere tu clase?" >

                <label for="descripcionClase">Descripcion de clase</label>
                <input type="text" name="descripcionClase" placeholder="Describe tu clase" value=<%= producto.descripcionClase %> >

                <label for="clase">Intensidad</label>
                <div class="intensidad">
                    <input type="radio" id="1" name="intensidad" value="principiante">
                    <label for="1">Principiante</label>
                <div class="intensidad">
                    <input type="radio" id="2" name="intensidad" value="amateur">
                    <label for="2">Medio</label>
                </div>
                <div class="intensidad">
                    <input type="radio" id="3" name="intensidad" value="profesional">
                    <label for="3">Profesional</label>
                </div>
            </div>
            <button class="boton" type="submit">Cargar</button>
        </form>
    </section>
</main>
<%- include("../partials/footer.ejs") %>