<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section class="inicio-product">
            <div class="search-bar-product">
                <form action="/products" method="get">
                    <input type="search" name="search" id="search" placeholder="Busqueda realizada">
                    <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                </form>
                <h4>Profes de futbol:</h4>
            </div>
        </section>
        <section class="product">
           <% products.forEach ((producto) => { %> 
            <a href="/products/<%= producto.id %>/detail/" >
                <article>
                    <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/<%= producto.imagen %>');">
                        <h2><%= producto.name %></h2>
                        <p><%= producto.ubicacion %></p>
                    </div>
                    <p><%= producto.descripcion %></p>
                    <p><%= producto.precio %>/clase</p>
                </article>
            <% }) %> 
        </section>
    </main>
<%- include("../partials/footer.ejs") %>