<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section class="inicio-product">
            <div class="search-bar-product">
                <form action="/products" method="get">
                    <input type="search" name="search" id="search" placeholder="Busqueda realizada">
                    <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                </form>
                <h4>Profes de futbol:</h4>
            </div>
        </section>
        <section class="product">
           <% for (let i in products){ %> 
            <a href="/products/detail/<%= i %>"  >
                <article>
                    <div class="image">
                        <h2><%=  products[i].name %> </h2>
                        <p><%= products[i].ubicacion %></p>
                    </div>
                    <p><%= products[i].descripcion %></p>
                    <p><%= products[i].precio %>/clase</p>
                </article>
            <% } %> 
        </section>
    </main>
<%- include("../partials/footer.ejs") %>