<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section class="detail">
            <div >
                <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/users/<%= user.imagen %>');">
                    <h2><%= user.nombre +" " +user.apellido %></h2>
                    <p><%= user.ubicacion %></p>
                </div>
            </div>
            <div><p><%=user.descripcion %></p></div>
            <div >
                <div >
                    <h4>Correo</h4>
                    <p><%= user.email%></p>
                </div>
                <div>
                    <a href="/users/logout"> Cerrar Sesion</a>
                    </div>
                    <div>
                    <a href="/users/edit/<%=user.id%>">Editar Usuario</a>
                </div>
        </section>
    </main>
<%- include("../partials/footer.ejs") %>