<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section>
            <div class="contenedorRegistro">
                    <h1>Registrarte</h1>
                    <% if(locals.errors){
                    errors.forEach(error => { %>
                        <p><%=error.msg %> </p>
                    <%})%>;
                    <% } %> 
                <form class="register-form" action="/users/register" method="POST" enctype="multipart/form-data">
                    
                    <div class="nombreYApellido formDecoracion">
                        <div class="nombre">
                        <label class="etiquetaTitulo" for="name">Nombre:</label>
                        <br>
                        <input type="text" class="input-register" name="nombre" id="name" placeholder="Nombre">
                    </div>
                        <% if (locals.errors && errors.nombre ) { %>
                        <div class="texto-error">
                            <%= errors.nombre.msg %> 
                        </div>
                        <% } %>
                        
                        
                    <div class="apellido">
                        <label class="etiquetaTitulo" for="name">Apellido:</label>
                        <br>
                        <input type="text" class="input-register" name="apellido" id="apellido" placeholder="Apellido" >
                    </div>  

                    <% if (locals.errors && errors.apellido ) { %>
                        <div class="texto-error">
                            <%= errors.apellido.msg %> 
                        </div>
                    <% } %>


                        <div class="nombre">
                            <label class="etiquetaTitulo" for="name">Ubicacion:</label>
                            <br>
                            <input type="text" class="input-register" name="ubicacion" id="ubicacion" placeholder="Ubicacion">
                            </div>

                       
        
        
                        
                            <label for="img"> Imagen del Usuario</label>
                            <input type="file"  name="imagenUsuario" alt="Submit" width="48" height="48">
                            <br>
                            <% if (locals.errors && errors.imagenUsuario) { %>
                                <div class="texto-error">
                                    <%= errors.imagenUsuario.msg %> 
                                </div>
                            <% } %>
                            </div>
                <div class="mail formDecoracion">
                    <label class="etiquetaTitulo" for="email">Correo</label>
                    <br>
                    <input type="email" class="input-register" name="email" id="email" placeholder="xxxx@tumail.com">
                </div>
                <% if (locals.errors && errors.email ) { %>
                    <div class="texto-error">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>



                <div class="contrase単a formDecoracion">
                    <label class="etiquetaTitulo" for="password">Contrase単a</label>
                    <br>
                    <input type="password" class="contrase単a" name="password" id="contrase単a" placeholder="escribi tu clave" >
                </div>
                <div class="boton formDecoracion">
                    <button class="submit" type="submit">Enviar</button>
                    <button class="reset" type="reset">Borrar</button>
                </div>


            </div>

                </form>


            </div>
        </section>

    </main>
<%- include("../partials/footer.ejs") %>