<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section>
            <div class="contenedorRegistro">
                    <h1>Registrarte</h1>

                <form class="register-form" action="/users/register" method="POST" enctype="multipart/form-data">
                    
                    <div class="nombreYApellido formDecoracion">
                        <div class="nombre">
                        <label class="etiquetaTitulo" for="name"><b>Nombre:</b></label>
                        <br>
                        <input type="text" class="input-register" name="nombre" id="name"   value= <%= locals.oldData? oldData.nombre : null %>>
                    </div>
                        <% if (locals.errors && errors.nombre ) { %>
                        <div class="texto-error">
                            <%= errors.nombre.msg %> 
                        </div>
                        <% } %>
                        
                        
                    <div class="apellido">
                        <label class="etiquetaTitulo" for="name"><b>Apellido:</b></label>
                        <br>
                        <input type="text" class="input-register" name="apellido" id="apellido" value= <%= locals.oldData? oldData.apellido : null %>>
                    </div>  

                    <% if (locals.errors && errors.apellido ) { %>
                        <div class="texto-error">
                            <%= errors.apellido.msg%> 
                        </div>
                    <% } %>


                        <div class="nombre">
                            <label class="etiquetaTitulo" for="name"><b>Ubicacion:</b>:</label>
                            <br>
                            <input type="text" class="input-register" name="ubicacion" id="ubicacion" value= <%= locals.oldData? oldData.ubicacion : null %>>
                            </div>

                            <% if (locals.errors && errors.ubicacion ) { %>
                                <div class="texto-error">
                                    <%= errors.ubicacion.msg %> 
                                </div>
                            <% } %>
        
        
                        
                            <label for="img"> <b>Imagen del Usuario:</b></label>
                            <input type="file"  name="imagenUsuario" alt="Submit" width="48" height="48">
                            <br>
                            <% if (locals.errors && errors.imagenUsuario) { %>
                                <div class="texto-error">
                                    <%= errors.imagenUsuario.msg %> 
                                </div>
                            <% } %>
                            </div>
                <div class="mail formDecoracion">
                    <label class="etiquetaTitulo" for="email"><b>Correo:</b></label>
                    <br>
                    <input type="email" class="input-register" name="email" id="email" value="<%=locals.oldData ? oldData.email : null  %> ">
                </div>
                <% if (locals.errors && errors.email ) { %>
                    <div class="texto-error">
                        <%= errors.email.msg%> 
                    </div>
                <% } %>



                <div class="contrase単a formDecoracion">
                    <label class="etiquetaTitulo" for="password"><b>Contrase単a:</b></label>
                    <br>
                    <input type="password" class="contrase単a" name="password" id="contrase単a" placeholder="escribi tu clave" >
                </div>
                <% if (locals.errors && errors.password ) { %>
                    <div class="texto-error">
                        <%= errors.password.msg %> 
                    </div>
                <% } %>

                <div class="boton formDecoracion">
                    <button class="submit" type="submit">Enviar</button>
                    <button class="reset" type="reset">Borrar</button>
                </div>


            </div>

                </form>


            </div>
        </section>

    </main>
<%- include("../partials/footer.ejs") %>